@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS */
@font-face {
  font-family: 'Geist';
  src: url(./assets/GeistVariableVF.woff2);
}
*{
  min-width: 0;
  user-select: none;
  font-family: 'Geist';
}

.bg-glass{ 
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  
}
.bg-glassNav{ 
  background: rgba(255, 255, 255, 0.1);
 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  
}

.bg-glass-black {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}